<div class="container">
    <form class="form-inline" ng-submit="login()">
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Username</label>
            <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Username" ng-model="uname" required>
          </div>
          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password" ng-model="pwd" required>
          </div>
          <button type="submit" class="btn btn-default">Login</button>
    </form>
</div>

