
<h3 class="heading">Forecast by city</h3>
<div class="row">
   <div class="col-lg-6">
       
       <form ng-submit="function1()">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Type a city name" ng-model="name">
        </div>
        <span class="input-group-button"><input type="submit" class="btn btn-primary" value="Go"></span>
    
    </form>
  </div>
</div>